*{
    box-sizing: border-box;
    font-family: 'EB Garamond', serif;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
a {
    position: relative;
    cursor: pointer;
}
a:active {
    top: 1px;
}
a, a:hover, a:visited, a:active, a:focus {
    outline: none;
    text-decoration: none;
}
.container {
    background-color: white;
}
body {
    background-color: #cbd3da;
}

.headerTop {
    background: url("../img/pen.jpg") no-repeat 58% 85%;
    background-size: 33%;
}
.logo {
    width: 25%;
    padding: 10px 0;
}
.titleTop{
    width: 50%;
}
.titleTop h1 {
    font-size: 8em;
    text-shadow: 2px 1px 20px black;
    text-align: right;
}
.titleTop h1 {
    padding-top: 10px;
}
.logo2 {
    width: 25%;
    padding: 10px 0;
}

.dropdown:hover .dropdown-menu {
    display:block;
    margin:0;
}

.dropdown-toggle::after {
    display:none;
}

.navbar, .navbar-brand {
    font-size: 16px;
    text-transform: uppercase;
}

.navbar, .navbar-expand-lg, .navbar-light, .bg-light {
    background-color: #2a8dbf!important;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.dropdown-menu {
    text-align: center;
    top: 120%;
    left: -40%;
}
#drop-down-move {
    left: -80%;
}

.navbar-nav, .mr-auto {
    flex: 1; /*specify that the nav flexbox needs to take up all of the available space of the parent element*/
    margin: auto!important;
    display: flex;
    justify-content: space-between;
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
    padding: 0;
}
.dropdown:hover .dropdown-menu {
    max-height: 200px;
    opacity: 1;
}
.dropdown-item {
    background-color: #2a8dbf;
    color: #fff;
    text-align: left;
}
.dropdown-menu a:active {
    background-color: lightgray;
}
main > section {
    display: flex;
}
.goals h4 {
    text-align: center;
}
.goalsContactSkills {
    width: 33.33%;
    display: inline-block;
}
.testimonialsPricing {
    width: 66.66%;
    display: inline-block;
}

.inputForm h4 {
    text-align: center;
}

.carousel {
    border: 1px solid lightgray;
}


#myFooter {
    background-color: #2a8dbf;
    color:white;
    z-index: 100;
    margin-top: 50px;
}

#myFooter .footer-copyright{
    background-color: #383737;
    padding-top:3px;
    padding-bottom:3px;
    text-align: center;
}

#myFooter .footer-copyright p{
    margin:10px;
    color: #ccc;
}

#myFooter ul{
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5{
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}
#myFooter .container {
    background-color: #2a8dbf;
}
#myFooter a{
    color:#d2d1d1;
    text-decoration: none;
}

#myFooter a:hover, #myFooter a:focus{
    text-decoration: none;
    color:white;
}

#myFooter .myCols{
    text-align: center;
}

#myFooter .social-networks{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 18px;
}

#myFooter .social-networks a{
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover{
    text-decoration: none;

}

#myFooter .facebook:hover{
    color:#0077e2;
}

#myFooter .google:hover{
    color:#ef1a1a;
}

#myFooter .twitter:hover{
    color: #00aced;
}

@media screen and (max-width: 767px){
    #myFooter {
        text-align: center;
    }
}





