*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
a {
    position: relative;
    cursor: pointer;
}
a:active {
    top: 1px;
}
a, a:hover, a:visited, a:active, a:focus {
    outline: none;
    text-decoration: none;
}
.text, .logo {
    border: 1px solid red;
}
.logo {
    width: 33.33%;
    text-align: center;
    padding: 10px 0;
}
.text {
    width: 66.66%;
}
.dropdown:hover .dropdown-menu {
    display:block;
    margin:0;
}

.dropdown-toggle::after {
    display:none;
}

.navbar, .navbar-brand {
    font-size: 16px;
    text-transform: uppercase;
}

.navbar, .navbar-expand-lg, .navbar-light, .bg-light {
    background-color: #003449!important;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.dropdown-menu {
    text-align: center;
    top: 120%;
    left: -40%;
}
#drop-down-move {
    left: -80%;
}

.navbar-nav, .mr-auto {
    flex: 1; /*specify that the nav flexbox needs to take up all of the available space of the parent element*/
    margin: auto!important;
    display: flex;
    justify-content: space-between;
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
    padding: 0;
}

.dropdown:hover .dropdown-menu {
    max-height: 200px;
    opacity: 1;
}

.dropdown-item {
    background-color: #003449;
    color: #fff;
}
.horizontal-blue-line {
    height: 1px;
    background-color: #acf1bd;
}