@media only screen and (max-width: 1200px) {
    .headerTop {
        background: url("../img/pen.jpg") no-repeat 53% 85%;
        background-size: 37%;
    }

}

@media only screen and (max-width: 991px) {
    .headerTop {
        background: url("../img/pen.jpg") no-repeat 56% 80%;
        background-size: 42%;
    }
    .logo {
        text-align: center;
        padding: 10px 0;
    }
    .titleTop h1{
        font-size: 6.5em;
        padding-top: 30px;
        padding-left: 50px;
    }
}

@media only screen and (max-width: 767px) {
    .headerTop {
        background: url("../img/pen.jpg") no-repeat 57% 80%;
        background-size: 35%;
    }
    .titleTop h1{
        text-align: center;
        font-size: 4em;
        font-weight: 500;
        padding-top: 15px;
        padding-left: 60px;
    }
    .hero img {
        width: 80%;
    }
    .goalsContactSkills{
        width: 100%;
    }
    .testimonialsPricing {
        width: 100%;
    }
    main > section {
        display: block;
    }

}

@media only screen and (max-width: 576px) {
    .headerTop {
        background: url("../img/pen.jpg") no-repeat 50% 85%;
        background-size: 35%;
    }
    .titleTop h1{
        font-weight: 500;
        padding-top: 20px;
        padding-left: 40px;
        text-align: center;
    }
}

@media only screen and (max-width: 476px) {
    .headerTop {
        background: url("../img/pen.jpg") no-repeat 55% 85%;
        background-size: 35%;
    }
    .titleTop h1{
        font-size: 12vw;
        padding-top: 20px;
        padding-left: 20px;
        text-align: center;
    }
}