@media only screen and (max-width: 1200px) {
    .headerTop {
        background: url("../img/pen.jpg") no-repeat 54% 85%;
        background-size: 36%;
    }

}

@media only screen and (max-width: 991px) {
    .headerTop {
        background: url("../img/pen.jpg") no-repeat 56% 80%;
        background-size: 40%;
    }
    .logo {
        text-align: center;
        padding: 10px 0;
    }
    .titleTop {
        font-size: 6.5em;
        padding-top: 20px;
        padding-left: 55px;
    }
}

@media only screen and (max-width: 768px) {
    .headerTop {
        background: url("../img/pen.jpg") no-repeat 57% 80%;
        background-size: 35%;
    }
    .titleTop {
        text-align: center;
        font-size: 4em;
        font-weight: 500;
        padding-top: 15px;
        padding-left: 60px;
    }
    .hero img {
        width: 80%;
    }
}

@media only screen and (max-width: 550px) {
    .headerTop {
        background: url("../img/pen.jpg") no-repeat 50% 80%;
        background-size: 35%;
    }
    .titleTop {
        font-weight: 500;
        padding-top: 15px;
        padding-left: 40px;
    }
}